{{!-- 
Display the following

Headline - the title of the article
Summary - a short summary of the article
URL - the url to the original article
Feel free to add more content to your database (photos, bylines, and so on).
 
Then let users be able to leave comments on articles
and be able to see them later saved with the associated
articles. It should be available to all and be able to
be deleted by the user if the so choose
 
 --}}

<div id="wrapper">
  <h1>Note Scraper</h1>
  <h2><i>Sign in and leave a comment!</i></h2>
  <div id="articles"></div>

  <div id="comments"></div>
</div>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script> --}}